body {
	background-image: url(media/anonymous.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	text-align: center;
	background-size: cover;
}
h1 {
color : rgb(255, 0, 0);
text-decoration: underline;
font-size : 60px;
font-weight : bold;
font-family : comic sans ms;
}
h2 {
font-size : 40px;
color : yellow;
}
ol {
color : white;
font-size : 30px;
list-style-type : georgian;
}
p {
	color: rgba(255, 255, 255, 0.646);
}